.container{
    /* width: 100%; */
    padding: 30px;
    display: flex;
    
}

.left{
    width: 40%;
    background-color: beige;
    color: rgba(48, 46, 46, 0.904);
    padding: 10px;
}
.right{
    width: 60%;
    background-color: rgba(63, 59, 59, 0.192);
    color: rgb(240, 233, 225);
}
.main{
    display: flex;
    justify-content: space-between;
    padding: 25px;
}
.proimg{
    border: 1px solid black;
    height: 200px;
    width: 200px;
    clip-path: circle();
    
}
.proimg img{
    height: 180px;
    width: 180px;
    clip-path: circle();


}
.name{
    font-size: 40px;
    text-shadow: 20px;
    text-align: end;
    margin-top: 90px;
    color: rgba(241, 123, 13, 0.938);
    font-variant: small-caps;
    font-family:Arial, Helvetica, sans-serif;

}
.Social{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;

}

.socialLink{
    display: flex;
    align-items: space-between;
    justify-content: space-between;
}

.proname{
    font-size: 30px;
    font-weight: bold;
    color: rgba(231, 160, 7, 0.897);
    
}
.content{
    margin-top: 30px;
    margin-bottom: 30px;
    color:rgb(15, 1, 1);
}
.experience-title{
    color: rgb(55, 135, 189);
    text-align: left;
    text-transform: uppercase;
    font-size: 1.em;
    font-weight: bold;
    font-style: inherit;
    padding: auto;
}
.content{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 20px;

}
.explore{
    font-size:medium;
}
.content2{
    color: rgba(46, 3, 3, 0.842);
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 20px;
    margin-bottom: 20px;

}
.a{
    color: rgb(55, 135, 189);
    text-align: left;
    text-transform: uppercase;
    font-size: 1.em;
    font-weight: bold;
    font-style: inherit;

}
.end{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 20px;
    margin-left: -50px;

}
.Social2{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 20px;
    margin-left: -70px;

}
.c{
    font-style: italic;
    font-size: large;
}

















